.vscode/
.venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
env.bak/
venv/
venv.bak/
.idea/
.DS_Store
*.log
*.sqlite3
instance/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
/src/__pycache__/
/src/*.pyc
/src/*.pyo
/src/*.pyd
/src/.pytest_cache/
/src/.tox/
/src/.nox/
/src/dist/
/src/build/
/src/*.egg-info/
/src/.eggs/
/src/pip-wheel-metadata/
/src/.env
/src/.env/
/src/.env
     